name: Build and Publish Package

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Maven Central Repository
        uses: actions/setup-java@v5
        with:
          java-version: '8'
          distribution: 'temurin'
          server-id: central
          server-username: MAVEN_CENTER_USERNAME
          server-password: MAVEN_CENTER_PASSWORD
          gpg-private-key: GPG_PRIVATE_KEY
          gpg-passphrase: GPG_PASSPHRASE

      - name: Publish package
        run: mvn --batch-mode deploy
        env:
          MAVEN_CENTER_USERNAME: ${{ secrets.MAVEN_CENTER_USERNAME }}
          MAVEN_CENTER_PASSWORD: ${{ secrets.MAVEN_CENTER_PASSWORD }}
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
